{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/apocalypse_app"
    },
    "cloudant": {
      "db": "https://yfaverompallenesedgivent:oldfn3oa5mqElXWMbI2l3ohe@johnplank211.cloudant.com/apocalypse_app"
    }
  }
}
